.contact-container{
  height: 70vh;
  margin: 20px;
  padding: 20px;
  background-color: rgb(57, 57, 57);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contact-form {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: auto;
}
.contact-form input, .contact-form textarea {
  margin: 5px 0;
  padding: 8px;
  font-size: 1rem;
  border-radius: 10px;
}
.contact-form button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  width: 100px;
}
.error {
  color: red;
  font-size: 0.9rem;
}

.d_element{
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aliceblue; */
}

.d_element img {
  width: 50%;
  height: auto; 
  animation: rainbow-glow 5s linear infinite; /* Add the rainbow glow animation */
}

@keyframes rainbow-glow {
  0% {
    filter: drop-shadow(0 0 10px #ff0000);
  }
  20% {
    filter: drop-shadow(0 0 10px #ff7f00);
  }
  40% {
    filter: drop-shadow(0 0 10px #ffff00);
  }
  60% {
    filter: drop-shadow(0 0 10px #00ff00);
  }
  80% {
    filter: drop-shadow(0 0 10px #ffffff);
  }
  100% {
    filter: drop-shadow(0 0 10px #8b00ff);
  }
}