.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

.footer > div {
  display: flex;
  gap: 20px;
  margin:  5px 0px;
}

.footer > div  a{
 color: aquamarine;
 text-decoration: none;
 font-size: 10px;
}

.footer  h1 {
  font-size: 10px;
  margin:  5px 0px;
}
.footer p {
  font-size: 12px;
  margin:  1px 0px;
}

.footer  h2{
  font-size: 10px;
  margin:  1px 0px;
}