.navbar {
  /* background-color: rgba(63, 63, 70,0.5); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 50px;
  width: 100%;
}
.navbar_contain {
  padding: 1px;
  background-color: rgb(50, 50, 50);
  border-radius: 15px;
  height: 35px;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lists ul {
  display: flex;
  list-style-type: none;
  color: black;
  gap: 22px;
}

.lists ul li {
  padding: 5px 8px;
  transition: transform 0.3s;
}

.lists ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 400;
}

.lists ul li:hover {
  background-color: rgba(62, 62, 65, 0.35);
  border-radius: 20px;
  transform: scale(1.3);
  backdrop-filter: blur(2px);
}
@media (max-width: 600px) {
  .navbar_contain {
    padding: 1px;
    border-radius: 8px;
    height: 35px;
    width: 98%;
  }
  .lists ul li a {
    font-size: 12px;
  }
  .lists ul li:hover {
    background-color: rgba(156, 156, 162, 0.35);
    padding: 2px;
    border-radius: 10px;
    transform: scale(1.1);
    backdrop-filter: blur(2px);
  }
  .lists ul li {
    padding: 1px;
  }
  }